<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    
    <arg name="ID" default="1"/>
    <arg name="namespace" default="uav1"/>
    
    <!-- px4 gazebo config -->
    <arg name="vehicle" default="standard_vtol"/> <!-- iris, plane, standard_vtol -->
    <arg name="gazebo_gui" default="true"/> <!-- launch gazebo UI -->
    <arg name="world" default="$(find px4_sitl)/worlds/empty.world"/>
    
    <!-- vehicle initial pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    
    
    <!-- Gazebo sim -->
    <include file="$(find px4_sitl)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gazebo_gui)"/>
        <arg name="world_name" value="$(arg world)"/>
    </include>
    
    <group ns="$(arg namespace)">
        <!-- PX4 SITL and gazebo_ros vehicle spawn -->
        <arg name="udp_port" value="$(eval 14560+ arg('ID') -1)"/>
        <arg name="tcp_port" value="$(eval 4560 + arg('ID') -1)"/>
        <include file="$(find px4_sitl)/launch/single_vehicle_spawn_sdf.launch">
            <arg name="x" value="$(arg x)"/>
            <arg name="y" value="$(arg y)"/>
            <arg name="z" value="$(arg z)"/>
            <arg name="R" value="$(arg R)"/>
            <arg name="P" value="$(arg P)"/>
            <arg name="Y" value="$(arg Y)"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="mavlink_udp_port" value="$(arg udp_port)"/>
            <arg name="mavlink_tcp_port" value="$(arg tcp_port)"/>
            <arg name="ID" value="$(eval arg('ID') - 1)"/>
        </include>
        
        <!-- MAVROS -->
        <arg name="local_port" value="$(eval 14540+arg('ID')-1 if arg('ID')&lt;10 else 14549)"/>
        <arg name="sitl_port" value="$(eval 14580 + arg('ID') -1)"/>
        <arg name="fcu_url" default="udp://:$(arg local_port)@localhost:$(arg sitl_port)"/>
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(arg ID)"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>
</launch>
